body {
    /*     font-family: -apple-system, BlinkMacSystemFont, sans-serif;*/
    background-image: url(img/wallpaper.jpg);
    color: aliceblue;
    font-weight: 900;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.lang img {
    width: 35px;
    cursor: pointer;
    border-radius: 20px;
}

main {
    text-align: center;
    /*     font-family: 'Oswald', sans-serif; */
    display: grid;
    justify-items: center;
}

h1 {
    /*background-color: #4542e7; */
    font-size: 40px;
}

.container-input {
    /*background-color: aquamarine; */
    height: auto;
    width: 500px;
    margin-bottom: 20px;
    margin-top: -30px;
}

.entryHolder  {
    /*background-color: aquamarine; */
    background: rgba(180, 178, 178, 0.4);
    height: auto;
    width: 700px;
    border-radius: 15px;
    padding-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#city {
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: -10px;
}

#date, #temp {
    font-size: 30px;
}
#feelling{
    font-size: 30px;
margin-top: -150px;
}

.entryHolder .position {
    /*background-color: beige;  */
    height: auto;
    width: 700px;
    display: flex;
    margin-top: -20px;
    justify-content: space-evenly;
    gap: 90px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgba(180, 178, 178, 0.4);
    border-radius: 20px;
    font-weight: 800;
    border: none;
    color: beige;
}

label {
    font-size: larger;
}

.degree {
    /*background-color: #4542e7;  */
    height: 200px;
    width: auto;
    text-align: center;
    font-family: 'Lora', serif;
    /*     color: white; */
}

.date {
    /*background-color: #15144e;  */
    height: 200px;
    margin-top: -20px;
    width: auto;
    font-size: 55px;
    text-align: center;
    font-family: 'Lora', serif;
    /*     color: white; */
}

/* Buttons */
.gen button {
    background-color: rgba(39, 185, 245, 0.7);
    border: none;
    color: white;
    padding: 12px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
}

button:hover {
    background-color: rgba(39, 185, 245);
}

.dark_mode {
    background-image: url(img/wallpaper1.jpg);
    color: rgb(0, 0, 0);
}

.nightMode {
    cursor: pointer;
}